body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

header {
    background: #004080;
    color: white;
    text-align: center;
    padding: 15px;
}
.logo {
    height: 60px;   
    width: auto;    
}
/* NAVIGATION */
.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #333;
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar a {
    color: white;
    padding: 14px 16px;
    display: block;
    text-decoration: none;
}

.navbar a:hover {
    background: #555;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background: #444;
    min-width: 160px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* SECTIONS */
section {
    padding: 40px;
}

/* CARDS */
.card-container {
    display: flex;
    gap: 20px;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    flex: 1;
    border-radius: 6px;
}

/* GALLERY */
.gallery {
    display: flex;
    gap: 20px;
}

.gallery-item img{
    width: 100%;          
    height: 180px;        
    object-fit: cover;    
    border-radius: 6px;
    margin-bottom: 10px;
}

/* NOTICE */
.notice {
    position: sticky;
    top: 0;
    background: yellow;
    padding: 10px;
    font-weight: bold;
}

/* DISPLAY DEMO */
.visible-box {
    background: lightgreen;
    padding: 10px;
    margin: 5px 0;
}

.inline-box {
    display: inline;
    background: lightblue;
    padding: 10px;
}

.hidden-box {
    display: none;
}

/* FOOTER */
footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 15px;
}
